body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;


}

h1,h2 {
  text-align: center;
  color: Black;
  font-family: 'Acme', sans-serif;
  font-size: 50px;
}
h3{
  font-size: 40px;
}

.Dad_Box {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 35px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td, th {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.last {
  background-color: #EE7959;
}

th {
  background-color: #EE7959;
}
.info{
  margin-left: 90px;
  margin-right: 90px;
  font-size: 20px;
}

img{
  margin-top:  40px;
  margin-left: 70px;
  width: 350px;
  height: 400px;

}

.bottom-container{
  background-color: #EE7959;
  padding: 50px 0 20px;
  margin-top: 80px;
  text-align: center;
}

.Date{
  font-size:25px;
    font-family: 'Acme', sans-serif;
    text-align: center;
}

